.jumbo { 
  padding: 30px;
  border: solid black 20px;
  margin:0;
  background-image: url("img/purpleBack.jpg");
  background: transparent;
  background-position: center;
  background-position-x: 0px;
  background-size: 1800;
  font-family:'Special Elite', cursive;
}

.kids {
  color: rgb(143, 255, 15);
}
.modal-header {
  background-color: #9933CC;
  color:white;
}
.modal-body{
  background-color: rgb(32, 31, 31);
  color: white;
}
.text {
  font-size: 45px;
  text-align: center;
}
body {
  background-color: rgb(38, 38, 38);
  
}
.navbar {
  background-color: rgb(0, 0, 0);
  color: #9933CC;
  font-size: 11pt;
}
.nav-link {
  color:#9933cc;
  font-size: larger;
}
.navbar-toggler {
  background-color: #9933CC;
  width: 45px;
  height: 45px;
}

.navbar-toggler-icon {
  align-self: center;
  width: 30px;
  height:25px;
}
.font {
font-family: 'monospace';
font-weight: 200;
color:rgb(143, 255, 15) ;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
font-weight: bold;
/*background-color: rgb(0,153,153,0.5);*/
}

.purple {
color: #9933CC;
}
.white {
font-size: 60px;
}
.pic{
max-width: 400;
}
.free{
font-size: 50px;
}
.teal{
color: teal;
}
.pink{
color: rgb(250, 94, 180);
}
h5 {
color: rgb(143, 255, 15);
font-size: xx-large;
}
#membership {
font-size: 25px;
}
#thumbnail {
color: silver;
text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
font-size: 20px;
font-weight: bold;
text-align: center;
}
#unlimited {
  color: silver;
text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
background-color:rgb(0,153,153,0.5);
font-size: 20px;
font-weight: bold;
text-align: center;
}
#punch {
color: silver;
text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
background-color:rgba(83, 255, 15, 0.5);
font-size: 20px;
font-weight: bold;
text-align: center;
}
#go {
color: silver;
text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
background-color:rgb(153,51,204,0.5);
font-size: 20px;
font-weight: bold;
text-align: center;
}
.cal {
border: solid green 2px; 
border: solid lightgreen 2px;
padding: 15px;
color: silver;
text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
font-size: 20px;
font-weight: bold;
text-align: center;
width:fit-content 100%;

}
#quote {
background-color:rgb(153,51,204,0.35);
color:silver;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
font-size: 20px;
}
tr, td  {
border: solid green 2px;
border: solid lightgreen 2px;  
color: silver;
}

button {
  background-color: #9933CC;
  border-color: #9933CC;
}

#rev1{
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: #9933CC;
}

.fa-quote {
  font-size: 0.5em;
  color: green;
}